@use 'backend' as *;

#{c(pagesLoading page)} {
  background-color: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.4));
  border: none;
}
#{c(pagesLoading header)} {
  background: none;
}